<div class="nav-top">
    <ul class="nav-ul">
        <li class="nav-li"><a href="#">Community</a></li>
        <li class="nav-li"><a href="#">Members</a></li>
        <li class="nav-li"><a href="#">Events</a></li>
        <li class="nav-li"><a href="#">Activities</a></li>
        <li class="nav-li"><a href="#">Sponsors</a></li>
        <li class="nav-li" id="logout"><a href="#">Log Out</a></li>
    </ul>
</div>