<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- href of static assets relative to path specified in express.static -->
    <link rel='stylesheet' href='/styles/homeLayout.css' />
    <!-- stylesheet for container -->
    <link rel='stylesheet' href='/styles/container.css' />
    <!-- stylesheet for homepage -->
    <link rel='stylesheet' href='/styles/home.css' />
    <!-- stylesheer for error -->
    <link rel='stylesheet' href='/styles/error.css' />
  </head>
  <body>
    
    <div class="nav-top">
      <ul class="nav-ul">
        <li class="nav-li"><a href="/community">Home</a></li>
        <li class="nav-li"><a href="#">Communities</a></li>
        <li class="nav-li"><a href="/event/all">Events</a></li>
      </ul>
    </div>

    <div class="container">
        {{{body}}}
    </div>
    
    <div class="footer">
      <p id="footer-p">Online Community Management System</p>
    </div>
  </body>
</html>