<div id="sponsor-details">
    <p class="member-detail" id="sponsor-name-det">{{name}}</p>
    <div id="delete-sponsor">
        <a href="/sponsor/deleteSponsor?sponsorId={{sponsorId}}&commId={{commId}}"><p>Delete Sponsor</p></a>
    </div>
</div>